<% include ./partials/header %>
<body id = "show">
    <div class = "ui main text container inverted segment">
        <div class = "ui huge header">
            <%= blog.title %>
        </div>
        <div class = "ui top attached">
            <div class = "item">
                <img class = "ui centered rounded image"src="<%= blog.image %>">
                <div class = "content">
                    <span> <%= blog.created.toDateString() %> </span>
                </div>
                <div class = "description">
                    <p> <%- blog.body %></p>
                </div>
            </div>
        </div>
        <a href = "/blogs/<%= blog._id%>/edit"><button class = "ui inverted green button">Edit</button></a>
        <form id = "delete" action = "/blogs/<%= blog._id%>?_method=DELETE" method = "POST" >
            <button type = "submit" class = "ui inverted red button">Delete</button>
        </form>
    </div>

<% include ./partials/footer %>
